@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Ubuntu', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
    
}

#left{
position: relative;
width: 40%;
height: 100%;
background-color: white;

}

#lnav{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

#lnavr{
    display: flex;
    align-items: center;
}

#lnavr a{
    margin-right: 20px;
    color: #000;
    text-decoration: none;
    
}

#lnavr span{
    color: royalblue;
    
}

#left #textcenter{
   
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -40%)
}

#textcenter h1{
    
    
    font-size: 90px;
    font-weight: 900;
}

#textcenter p{
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: .6;

}

#textcenter a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: 300;
    opacity: .8;
    
}

#right{
    width: 60%;
    height: 100%;
    background-color: #000;
    
}    

#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    /* background-color: white; */
}

#rbottom{
    width: 100%;
    height: 50%;
    background-image: url(https://img.freepik.com/free-photo/elegant-modern-vase-design_23-2150529731.jpg?t=st=1696250564~exp=1696254164~hmac=198010f589940c8da01a19fceff0b971a9ec8fbe862a6e085be8743bfa8bb7ef&w=1060);
    background-size: cover;
    background-position: center ;
    
}
#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url(https://img.freepik.com/free-photo/elegant-modern-vase-design_23-2150529763.jpg?t=st=1696225264~exp=1696228864~hmac=0739f9d2a71eaa0c6d904ed6796abc33442ccab780156ab9fab405a620e05b41&w=1060);
    background-position: center;
    background-size: cover;
}

#rtopright{
    width: 45%;
    height: 100%;
    background-image: url(https://img.freepik.com/free-photo/elegant-modern-vase-design_23-2150529742.jpg?t=st=1696225328~exp=1696228928~hmac=f13f1186141fcf6aad8b9717c85ad63b907326e8aaba9998571d98a79611cf9c&w=1060);
    background-size: cover;
    background-position: center;
}

/* --------Secoend page -----------------*/


#main-2{
    display: flex;
    
    width: 100%;
    height: 100%;
    background-image: url(https://img.freepik.com/free-photo/elegant-modern-vase-design_23-2150529725.jpg?t=st=1696250347~exp=1696253947~hmac=db46292d6181be69cac6e9a5dfb2f4468e8650718b9bbb86483f812073500904&w=1060);
    background-size: cover;
     background-position: bottom ;
}

#left-2{

    position: absolute;
    width: 51%;
    height: 100%;
    
    }

    #ltop-2{
        display: flex;
        width: 100%;
        height: 50%;
        /* background-color: white; */
    }
    
   
    
    #lbottom-2{
        width: 100%;
        height: 50%;
        background-image: url(https://img.freepik.com/free-photo/elegant-modern-vase-design_23-2150529725.jpg?t=st=1696250347~exp=1696253947~hmac=db46292d6181be69cac6e9a5dfb2f4468e8650718b9bbb86483f812073500904&w=1060);
        background-size: cover;
        background-position: bottom ;
        
        
    }
    #ltopleft-2{
        width: 55%;
        height: 100%;
        background-image: url(https://img.freepik.com/free-photo/free-photo-beauty-product-bottle-mockup-image-with-background_1340-31418.jpg);
        background-position: center;
        background-size: cover;
    }
    
    #ltopright-2{
        width: 45%;
        height: 100%;
        background-image: url(https://img.freepik.com/free-photo/elegant-modern-vase-design_23-2150529734.jpg?t=st=1696251057~exp=1696254657~hmac=9a885682050c9b582100bf6ec767b0abb5cc1d92ecc0479b6a67c4031b369c88&w=1060);
        background-size: cover;
        background-position: center;
    }    
    


    #footan a{
    font-weight: 900;
    color: #116d6e;
    text-decoration: none;
    
    
   } 

    footer span{
    padding: 5px 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: rgb(19, 191, 203);
   }

   @media(max-width: 500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }
   }